<%- include('partials/header', { loggedIn }) %>

<div class="form-container container">
    <div class="login-form">
        <form method="post" action="/register">
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label"
                    >First Name</label
                >
                <input
                    type="text"
                    class="form-control"
                    id="exampleInputEmail1"
                    aria-describedby="emailHelp"
                    name="firstName"
                />
                <div id="emailHelp" class="form-text">
                    Please input your first name here
                </div>
            </div>
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label"
                    >Last Name</label
                >
                <input
                    type="text"
                    class="form-control"
                    id="exampleInputEmail1"
                    aria-describedby="emailHelp"
                    name="lastName"
                />
                <div id="emailHelp" class="form-text">
                    Please input your last name here
                </div>
            </div>
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Email</label>
                <input
                    type="text"
                    class="form-control"
                    id="exampleInputEmail1"
                    aria-describedby="emailHelp"
                    name="email"
                />
                <div id="emailHelp" class="form-text">
                    Please input your email here
                </div>
            </div>
            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label"
                    >Password</label
                >
                <input
                    type="password"
                    class="form-control"
                    id="exampleInputPassword1"
                    name="password"
                />
            <div id="emailHelp" class="form-text">
                Input your password!
                </div>
            </div>

            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label"
                    >repeat password</label
                >
                <input
                    type="password"
                    class="form-control"
                    id="exampleInputPassword1"
                    name="repeatPassword"
                />
            </div>
            <div class="mb-3">
                <label for="exampleInputDateOfBirth1" class="form-label"
                    >Date Of Birth</label
                >
                <input
                    type="text"
                    class="form-control"
                    id="exampleInputDateOfBirth1"
                    name="dateOfBirth"
                />
                <div id="emailHelp" class="form-text">
                    Please enter your date of birth
                </div>
            </div>
            <label for="exampleInputGender1" class="form-label"
                    >gender</label
                >
                <input
                    type="text"
                    class="form-control"
                    id="exampleInputGender1"
                    name="gender"
                />
                <div id="emailHelp" class="form-text">
                   What is your gender?
                </div>
            </div>
            <div class="mb-3">
                <a href="/login">Already have an account? Login here</a>
            </div>
            <% if (locals.error) { %>
            <p class="text-danger"><%= error %></p>
            <% } %>
            <button type="submit" class="btn btn-primary">Register</button>
        </form>
    </div>
</div>

<%- include('partials/footer') %>
